.carousel-inner img{
    width: 100%;
    height: 300px;
}
h1{
    text-align: center;
    font-size: 100px;
    text-shadow: white 3px 2px;
}
section{
    background-image: linear-gradient(rgb(253, 216, 170),beige,rgb(253, 216, 170));
}
article{
    background-image: linear-gradient(rgb(253, 216, 170),beige,rgb(253, 216, 170)) ;
}
aside{
    background-color: brown;  
}
h4{
    margin: 10px;
}
#title{
    margin: 15px;
    text-align: center;
    text-shadow: whitesmoke 2px 2px;
} 
#content{
    height: 100%;
}
p{
    margin: 10px;
}
.pics{
    float: right;
    margin: 30px;
}
body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("image4.jpeg");
}